.text-h1{
    background-color: #337aff;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 3px 2px white;
    font-family: Constantia,"Luci Briht","Dejavu Serif",Georgia,serif ;
    font-size: xx-large;
   }
  .descripcion {
    width: 1400px;
    background-color:#337aff;
    text-align: justify;
    font-size: 30px;
    border-top-right-radius: 58px;
    border-top-left-radius: 58px;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    display: inline;
    border-style: solid;
    border-color: #334FFF;
    -webkit-box-shadow-:12px 12px 0px 3px #d5d4d4;
    box-shadow: 12px 12px 0px 3px #d5d4d4;
    position:absolute;
    left: 50%;
    transform: translate(-50%,0%);
    -webkit-transform: translate(-50%,0%);
  }
  .footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  .footer-logo {
    width: 100px;
  }
  .footer-links a {
    color: #666;
    text-decoration: none;
    margin: 0 10px;
  }
  nav {
    max-width: 1400px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 5px 0;
  }
  
  nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
  
  nav ul li {
    display: inline-block;
  
  }
  
  nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  
  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
  }
  body{
  
    background-image: url(imag/atarde.jfif);
    background-size: cover;
    background-attachment: fixed;
  }
  body{
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    background-color: #ab4493; 
  }
  
  
  .contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #ab4493; 
    border-color: #ab4493; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #ab4493; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #ab4493;
  }
  
  
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }